/* 整個網頁 */
body{
    display:flex;
    flex-direction: column; /* 使物件垂直排列 */
    background-color: rgb(38, 45, 81);
    margin:0;
    height:100%;
}
/* 整張畫紙要張滿，否則body也無法隨時張滿，會使得footer無法置底 */
html{
    height:100%;
    margin:0;
    font-size: 100%;
}
/* 最上面申請書那塊 */
#titleBg{
    background-color: rgba(0, 204, 255, 0.574);
    border-radius: 10px;
    padding:5px;
    margin-right: 5%;margin-left: 5%;
}

/* title 字型 */
@font-face {
    font-family:Fontradious;
    src: url(setofont.ttf);
}


#titletext{
    display: flex;
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    margin-bottom: 5px;
    margin-left: 5px;margin-right: 5px;
    text-align:center;font-size: 25px;
    font-family:Fontradious,serif;
    color:azure;
}

/* title 下方分隔線 */
#titleLine{
    height:5px;border-radius: 50px;
    background-color: rgb(122, 20, 20);
    border:none;
}


/* 中間問答區 */
.QuestBody{
    flex: auto;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直靠中 */
    background-color: rgb(28, 6, 38);
    margin-right:5%;margin-left:5%;
    border-radius: 5px;padding-top: 5px;padding-bottom: 10px;
    font-size: 25px;
}

.Quest{
    background-color: rgba(152, 250, 242, 0.546);
    font-size: 0.8em; /* 20px */
    font-family: Fontradious;
    border-radius: 5px;
    margin-right:10%;margin-left:10%;margin-top: 25px;margin-bottom: 20px;
    padding:8px;cursor: auto;
}

#text{
    color:azure;
}


/* 回答區背景顏色 */
.answerBg{
    background-color: rgb(237, 196, 61);
}


/* 回答文字 */
#answertext{
    word-wrap: break-word;word-break: break-all; /* 避免文字超出底框 */
    font-size: 0.8em; 
    text-decoration-line: underline; /* 底線 */
    text-decoration-color: rgb(205, 134, 20); /* 底線顏色 */
    text-decoration-style: dashed;
    padding-bottom: 5px; /* 字體下方與黃色框框距離 */
    line-height: 30px; /* 設定行距 */
    letter-spacing: 1px; /* 設定文字間距 */
    color:rgba(0, 0, 0, 0.997);
}

#answertextBox{
    padding-left:10%;padding-right: 10%;
    padding-top: 5%;padding-bottom: 5%;
}

#space{
    margin-left: 10px;
}
/* 段落間隔 */
#textBottom{
    margin-bottom: 10px;
    font-family: Arial,"Microsoft JhengHei",sans-serif;
}

/* 頁尾footer */
#footer{
    background-color: azure;
    text-align: center;
    padding: 10px;
    margin-left: 5%;margin-right: 5%;
}

/* 頁尾文字 */
#footer_text{
    display:flex;
    justify-content:center; /* flex區塊中的區塊水平置中 */
    align-items: center; /* flex區塊中的區塊垂直置中 */
    font-size: 5px;font-family: Fontradious;
}

/* 圖片 */
img{
    margin:2px;
}

#pinkP{
    width:60px;
}

/* RWD要寫在最後面，避免被前面的CSS覆蓋無法顯示 */
@media (max-width:432px){
    #pinkP{
     display:none;
    }
}

@media (max-width:800px){
    .Quest{
        font-size: 18px;
    }
}

@media (max-width:500px){
    .Quest{
        font-size: 15px;
    }
}

@media (max-width:375px){
    .Quest{
        font-size: 12px;
    }
}

@media (min-width:1000px){
    .Quest{
        font-size: 23px;
    }
}